/* Estilo para la barra de navegación */
.navbar {
    background-color: #88b5bf; 
}
.offcanvas-body, .offcanvas-header{
    background-color: #88b5bf;
}

.nav-link-item {
    color: white; 
    transition: color 0.3s ease-out; 
}

.nav-link-item:hover {
    color: #1C7C82; 
}

.btn-nav, .btn-nav-b:hover {
    color: #1C7C82; 
    background-color: #ffffff84; 
    font-weight: 600; 
}
.btn-nav:hover, .btn-nav-b{
    background-color: #88b5bf;
    border: 2px solid #1C7C82;
    color: #1C7C82;
}
/* Estilos para el logo */
.color-blue {
    color: #c3c3c3; 
}

.navbar-nav .nav-link.active {
    color: #D7F39E;

}
/* Estilos para la fila del encabezado */
.header-row.row {
    height: 80vh; 
    justify-content: center; 
    margin-bottom: 50px; 
}

/* Estilos para el contenedor del encabezado */
.header-container.container-fluid {
    padding: 5%; 
}

/* Estilos para las tarjetas */
.card {
    border: 2px solid #88b5bf; 
}

/* Estilos para el texto de color blanco */
.color-white {
    color: #88b5bf; 
}


.card-header-img{
    background-image: url("../img/header.png");
    height: 100%;
    background-position: center;
    border: none
}