body {
    background-color: white;
}

.font-color {
    color: #3d367a;
}
.card-service-home{
    height: 23rem;
    transition: 0.7s;
}

.card-service-home:hover {
    transform: scale(1.1);
    border: 3px solid #3d367a;
}

.card-service-home img, .card-aboutus img{
    border-radius: 25px;
}
.contact-section, .services-section, .aboutUs-section {
    height: 80vh;
}

.btn-color {
    background-color: #3d367a;
    border: none;
}

.btn-book{
   color: #3d367a;
   background-color:#D7F39E;
}

.contact-title{
    font-size: 3rem;
    font-weight: 800;
}

.card.book-card {
    background-color: #3d367a;
    color: white;
    border: 4px solid #D7F39E;
}

.book-card img{
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
.book-card .card-body{
    flex: 0;
}

.text-color {
      color: #D7F39E;
}