
.font-color {
    color: #88b5bf;
}

.card-service-home {
    min-height: 23rem;
    transition: 0.7s;
    border-radius: 0%;
}


@media (min-width: 992px) {
    .card-service-home:hover {
        box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
        transform: scale(1.08);
        transition: all 0.3s ease-in-out;
        border: 3px solid #88b5bf;
    }
}

.contact-section,
.services-section,
.aboutUs-section,
.appointment-section {
    min-height: 80vh;
    
}


.btn-color {
    background-color: #88b5bf;
    border: none;
}
.btn-color:hover {
    background-color: #88b5bf;
    color: #D7F39E;
    border: 3px solid #D7F39E;
    font-weight: 600;
}

.btn-book {
    border: 2px solid white;
    background-color: #88b5bf;
    transition: 1s;
}

.btn-book:hover {
    background-color: white;
    color: #88b5bf;
    border: 2px solid #88b5bf;

}
.error-section{
    background-color: #88b5bf;
}
.error-title{
    color: white;
}

.error-text{
    color:#D7F39E
}

.contact-title, .error-title {
    font-size: 3rem;
    font-weight: 800;
    color: #1C7C82;
    font-family: "Domine", serif;
}

/* Estilos para la tarjeta de reserva */
.card.book-card {
    background-color: #88b5bf;
    color: white;
}


.book-card .card-body {
    flex: 0;
}



.section-title{
   color: #e9f6f4;
    max-width: fit-content;
    font-family: "Lato", serif;
    font-weight: 900;
    font-size: 60px;
    padding: 2px 20px;
    letter-spacing: 5px;
    line-height: .8em;
}
.text-abtus{
    font-weight: 500;
}

.btn-contact{
    height: 2.5rem;
    font-weight: 700;
}

.aboutus-content h2{
    color: #1C7C82;
    font-family: "Domine", serif;
}

.card-aboutus::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: solid 2px #69C1B4;
    margin: 10px;
}