.react-calendar {
    background-color: #3d367a;
    border-radius: 25px;
}

.intro-services-section{
    min-height: 90vh;
    justify-content: center;
    margin-bottom: 80px;
}
.services-section {
    justify-content: center;
    min-height: 60vh;
}
.btn-form-add{
    background-color: #D7F39E;
    color:#3d367a;
    font-weight: 700;
    border: 3px solid #3d367a;
    width: 20rem;
    border-radius: 25px;
}

.btn-form-add:hover {
    color: #D7F39E;
    background-color:#3d367a;
    border: 2px solid #D7F39E;
}
.add-form-label {
    color:#3d367a;
    font-weight: 600;
}
.form-control {
    background-color: transparent;
    border: none;
    border-radius: 0%;
    border-bottom: 2px solid #3d367a;
    color:#3d367a;
    font-weight: 600;
}

.form-control:focus{
    background-color: transparent;
    border: 2px solid #D7F39E;
    border-radius: 25px;

}

.form-row {
    display: flex;
    justify-content: center;
    align-items: center;
}