/* Estilo general de las tablas */
.table > :not(caption) > * > * {
  background-color: #3d367a;
  color: hsl(80, 78%, 79%);
  border: 2px solid #aed1f4;
  font-weight: 500;
  font-size: 16px;
}

/* Estilo de filas impares en tablas con clase table-striped */
.table-striped > tbody > tr:nth-of-type(odd) > * {
  --bs-table-bg-type: #44339cc9;
}

/* Estilo específico para filas impares con clase table-row en tablas con clase table-striped */
.table-striped > tbody > tr.table-row:nth-of-type(odd) > * {
  --bs-table-bg-type: #44339cc9;
}


.btn-table {
  background-color: #170d35;
  color: #d7f39e;
  border: 2px solid #d7f39e;
  margin-right: 5%;
}

.modal-header,
.modal-body,
.modal-footer {
  background-color: #170d35;
  color: #d7f39e;
  border: none;
}

.modal-body input,
.modal-body input:focus {
  color: #d7f39e;
  font-weight: 500;
}

.modal-header .btn-close{
  background-color: #d7f39e !important;
}

.contact-section-title{
  color: #3d367a;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

.form-check-input {
  font-size: 1.7rem;
  background-color:#d7f39e;
  border: 2px solid #170d35;
}
.modal-body select.form-select, option, td .form-select{
  background-color: #d7f39e;
  color:#170d35;
  font-weight: 500;
}
.modal-body .form-control{
  color: #d7f39e;
}
.form-check-input:checked{
  background-color:#170d35;
  border: 2px solid #d7f39e;
 
}